---
import RecommendationsList from "../../components/RecommendationsList.astro";
import WhereToStream from "../../components/WhereToStream.astro";
import MainLayout from "../../layouts/MainLayout.astro";

const ip = Astro.clientAddress;
console.log(ip);

const params = Astro.params;
const options = {
  method: "GET",
  headers: {
    accept: "application/json",
    Authorization: `Bearer ${import.meta.env.PUBLIC_TMDB_AUTH}`,
  },
};
const url = new URL(`https://api.themoviedb.org/3/tv/${params.id}`);

const response = await fetch(url, options);
const data: Series = await response.json();
---

<MainLayout movieTitle={data.name}>
  <!-- topSection -->
  <div class="grid lg:grid-cols-2 lg:items-center lg:gap-10 lg:p-12">
    <div
      class={`max-w-lg text-center mx-auto lg:text-left lg:mx-0 lg:ml-auto order-last lg:order-first p-5 lg:p-0`}
    >
      <h1 class="text-4xl lg:text-5xl font-bold mb-5">
        {data.name}
      </h1>
      {
        data.name != data.original_name && (
          <h2 class="lg:text-3xl mb-2">{data.original_name}</h2>
        )
      }
      <div class="flex flex-wrap gap-2 justify-center lg:justify-start">
        {
          data.genres.map(({ name }) => {
            let bgColor = "";

            switch (name) {
              case "Science Fiction":
                bgColor = "bg-purple-700";
                break;
              case "Adventure":
                bgColor = "bg-yellow-700";
                break;
              case "Action":
                bgColor = "bg-red-800";
                break;
              case "Animation":
                bgColor = "bg-blue-400";
                break;
              case "Fantasy":
                bgColor = "bg-cyan-700";
                break;
              case "Comedy":
                bgColor = "bg-green-600";
                break;
              case "Crime":
                bgColor = "bg-black";
                break;
              case "Documentary":
                bgColor = "bg-yellow-950";
                break;
              case "Drama":
                bgColor = "bg-white text-black";
                break;
              case "Family":
                bgColor = "bg-emerald-300 text-black";
                break;
              case "History":
                bgColor = "bg-orange-950";
                break;
              case "Horror":
                bgColor = "bg-black ";
                break;
              case "Music":
                bgColor = "bg-fuchsia-900";
                break;
              case "Mystery":
                bgColor = "bg-lime-950";
                break;
              case "Romance":
                bgColor = "bg-pink-500";
                break;
              case "Thriller":
                bgColor = "bg-blue-950";
                break;
              case "War":
                bgColor = "bg-red-950";
                break;
              case "Western":
                bgColor = "bg-yellow-300";
                break;
              default:
                bgColor = "bg-black";
            }
            return (
              <span
                class={`border-2 text-xs select-none rounded-lg font-bold w-fit mb-3 p-1 px-2 ${bgColor}`}
              >
                {name}
              </span>
            );
          })
        }
      </div>
      <p class="text-sm">Release date: {data.first_air_date}</p>
      <p class="text-sm mb-4">Number of Seasons: {data.number_of_seasons}</p>
      <p class="text-balance mb-10">{data.overview}</p>
      <div
        class="rounded-lg p-4 bg-gradient-to-br from-[#dd4f02] to-[#f7aa00] text-white"
      >
        <h4 class="text-2xl mb-3">Streams on</h4>
        <WhereToStream id={Number(params.id)} isMovie={false} />
      </div>
    </div>
    <div class="relative">
      <img
        class="mx-auto w-3/4 md:w-1/2 lg:mx-0 lg:w-auto lg:max-h-[45rem]"
        src={data.poster_path
          ? `https://image.tmdb.org/t/p/original/${data.poster_path}`
          : "/imagePlaceholder.png"}
        alt={`Poster for ${data.name}`}
      />
    </div>
  </div>
  <div>
    <RecommendationsList id={params.id!} isMovie={false} />
  </div>
</MainLayout>
