---
import MovieCard from "./MovieCard.astro";
import SeriesCard from "./SeriesCard.astro";

interface Props {
  movies?: Movie[];
  series?: Series[];
}

const { movies, series } = Astro.props;
---

<div class="grid grid-cols-2 lg:grid-cols-3 gap-2">
  {
    movies
      ? movies.map((movie: Movie) => {
          return (
            <MovieCard
              id={movie.id}
              title={movie.title}
              releaseDate={movie.release_date}
              poster={movie.poster_path}
            />
          );
        })
      : series &&
        series.map((series: Series) => (
          <SeriesCard
            id={series.id}
            title={series.name}
            releaseDate={series.first_air_date}
            poster={series.poster_path}
          />
        ))
  }
</div>
