---
import WhereToStream from "../../components/WhereToStream.astro";
import MainLayout from "../../layouts/MainLayout.astro";

const params = Astro.params;
const options = {
  method: "GET",
  headers: {
    accept: "application/json",
    Authorization: `Bearer ${import.meta.env.PUBLIC_TMDB_AUTH}`,
  },
};
const url = new URL(`https://api.themoviedb.org/3/movie/${params.id}`);

const response = await fetch(url, options);
const data = await response.json();
---

<MainLayout>
  <!-- topSection -->
  <div class="grid lg:grid-cols-2 lg:items-center lg:gap-10 lg:p-12">
    <div
      class={`max-w-lg text-center mx-auto lg:text-left lg:mx-0 lg:ml-auto order-last lg:order-first p-5 lg:p-0`}
    >
      <h1 class="text-4xl lg:text-5xl font-bold mb-2">
        {data.title}
      </h1>
      {
        data.title != data.original_title && (
          <h2 class="lg:text-3xl mb-2">{data.original_title}</h2>
        )
      }
      <p>Release date: {data.release_date}</p>
      <p>Length: {data.runtime} minutes</p>
      <p class="max-w-lg text-balance">{data.overview}</p>
      <h4 class="mt-10">Streams on</h4>
      <WhereToStream id={params.id} />
    </div>
    <div class="relative">
      <img
        class="mx-auto w-3/4 md:w-1/2 lg:mx-0 lg:w-auto lg:max-h-[45rem]"
        src={data.poster_path
          ? `https://image.tmdb.org/t/p/original/${data.poster_path}`
          : "/imagePlaceholder.png"}
        alt={`Poster for ${data.title}`}
      />
    </div>
  </div>
</MainLayout>
